

@font-face{
 font-family: "Roboto";
 src: url('../fonts/Roboto/Roboto-Regular.ttf');
 font-family: "DoHyeon";
 src: url('../fonts/DoHyeon-Regular.ttf');
 font-family: "Change";
 src: url('../fonts/Changa-VariableFont_wght.ttf');


 
}