
@media only screen and (max-width:340px)
{
    .header_area .main-menu .navbar ,
    .header_area .main-menu .navbar .navbar-brand,

    .site-main .subscribe-us-area .subscribe .subscribe-title,

    .site-main .subscribe-us-area .subscribe .subscribe-title p,h4

    .site-main .services-area ,
    .site-main .subscribe-us-area .subscribe

    {
        padding: 2%;
        margin: 0%;

    }
}

@media only screen and (max-width:792px)
{
    .site-main .about-area .about-title h2 >span {

        font-size:  31px;
        letter-spacing: 10px;


    }

    .site-main .brand-area .experience-area .years-area
    {
        padding-left: 1%;
        width: 49%;
    }
}  
